:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --button-color: #f5f4fa;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-family: Roboto, sans-serif;
}
/* лого  */
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.accent {
  color: var(--accent-color);
}
ul {
  list-style: none;
}
/* site-nav */

.site-nav .link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}

/* contacts header */
.header .mail,
.header .tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
/* buttons */

/* примеры  projects */

.projects .title {
  ont-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.footer {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}
.address {
  color: inherit;
  font-family: inherit;
}

/*цвет основного текста #212121*/
/* цвет заголовков  #212121 */
/*цвет ховер фокус: #2196F3*/

/*footer info and tel color  #FFFFFF99*/
/* background: #FFFFFF */
/* footer background:  #2F303A*/
